/* Color Pallette */

$black: #0f0f0f;
$white: #ffffff;

/* SciFi Background */

$bg-comp: #181818;
$bg-stroke: #2c2c2c;

$light: #f2eee7;
$light-dark: #ccc7c0;
$dark: #333333;

$primary-color: #52ce93;
$primary-var1-color: #0fd6bc;
$primary-dark: #41a372;

$secondary-color: #8400ff;

$warning-color: #f0730c;
$cancel-color: #d43535;


$err: #a73636;


/* Text Sizes */

$xsmall: 10px;
$small: 12px;
$standar: 15px;
$big: 20px;
$xbig: 30px;
$xlbig: 40px;