/* Color Pallette */

$black: #0f0f0f;
$white: #ffffff;

$light: #f2eee7;
$light-dark: #ccc7c0;
$dark: #333333;

$primary-color: #52ce93;
$primary-dark: #41a372;

$err: #a73636;

/* Text Sizes */

$xsmall: 10px;
$small: 12px;
$standar: 15px;
$big: 20px;
$xbig: 30px;
$xlbig: 40px;